body{
    background-image: url('images/background_accueil.jpg');
    background-size: 100%;
}
.navbar{
    box-shadow: none !important;
}
.item_menu{
    font-family: 'Koulen', cursive !important;
    letter-spacing: 3px !important; 
    font-size: 20px !important;
}
.item_menu_lien{
    color: #F69C12 !important;
    margin-left: 30px !important;
}
#accueil{
    /* background-image: url('images/background_accueil.jpg');
    background-size: 100%; */
    height: 700px;

    padding-left: 100px;
    padding-top: 100px;
}
#titre{
    font-family: 'Koulen', cursive;
    color: #F69C12;
    letter-spacing:5px !important;
    font-size: 60px !important;
}
#subtitre{
    color: white;
    font-size: 23px !important;
}
#section_btn_accueil{
    margin-top:65px;
}
.btn_accueil{
    border-radius: 100px !important;
    letter-spacing: 4px !important;
    background-color: #F69C12 !important;
    color: white !important;
    margin:15px !important;
    margin-left:-5px !important;
    font-size: 19px !important;
    padding: 15px !important;
    padding-left:35px !important;
    padding-right: 35px !important;
    font-family: 'Koulen', cursive !important;
    border:solid 2px #F69C12 !important;
}
.btn_accueil:hover{
    background-color: transparent !important;
    color: #F69C12 !important;
    border:solid 2px #F69C12 !important;
}
.btn_accueil_active{
    font-family: 'Koulen', cursive !important;
    letter-spacing: 4px !important;
    border-radius: 100px !important;
    background-color: transparent !important;
    color: #F69C12 !important;
    border:solid 2px #F69C12 !important;
    margin:15px !important;
    margin-left:35px !important;
    font-size: 19px !important;
    padding: 15px !important;
    padding-left:35px !important;
    padding-right: 35px !important;
}
.btn_accueil_active:hover{
    background-color: #F69C12 !important;
    color: white !important;
    border:solid 2px #F69C12 !important;
}
/********************************************************/
.rs_barre{
    margin-top:130px;
    padding-right:100px;
    display: flex;
    justify-content: space-between;
}
#rs_barre_un{
    height:2px;
    width: 500px;
    background: #fbfbfb;
}
#rs_barre_deux{
    height:2px;
    width: 500px;
    background: #fbfbfb;
}
.icon_rs{
    padding-left: 30px;
    padding-right: 30px;
    color: #fbfbfb;
    font-size: 26px !important;
}
.icon_rs:hover{
    color: #F69C12;
    cursor: pointer;
}
/********************************************************/
#services{
    height: 720px;
    /* background-image: url('images/background_accueil.jpg'); */
    /* background-size: 100%; */
    margin-bottom: 250px;

    margin-left: 12% !important;
    margin-right: 12% !important;
}
#titre_service{
    text-align: center;
    margin-top: 50px;
    font-family: 'Koulen', cursive !important;
    letter-spacing: 3px !important;
    color: white;
    font-size: 45px;
}
#section_cartes_services{
    margin-top: 25px !important;
}
.carte_services{
    width:350px !important;
    text-align: center !important;
    background: #F69C12 !important;
    color: white !important;
}
.carte_services_off{
    width:350px !important;
    text-align: center !important;
    background: white !important;
    color: black !important;
    border: solid 2px #F69C12 !important;
}
.carte_titre_services{
    font-family: 'Koulen', cursive !important;
    letter-spacing: 3px !important;
    font-size: 26px !important;
}
#services_down{
    margin-top: 35px;
    margin-left:14.2% !important;
    color: black;
}
/****/
.titre_carte_pres{
    font-family: 'Koulen', cursive !important;
    letter-spacing: 3px !important;
    font-size: 60px !important;
    color: white;
}
.texte_carte_pres{
    /* font-family: 'Koulen', cursive !important;
    letter-spacing: 2px !important; */
    color: white;
}
#itineraire_carte_pres{
    font-family: 'Koulen', cursive !important;
    letter-spacing: 3px !important;
    font-size: 21px !important;
    color: #F69C12;
    text-align: center;
    margin-top: 60px;
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 7px;
    text-underline-offset: 3px;
}

/***************************************/
#menus{
    height: 720px;
    margin-left: 12% !important;
    margin-right: 12% !important;
    margin-bottom: 75px;
}
#titre_menus{
    /* text-align: center; */
    margin-top: 70px;
    font-family: 'Koulen', cursive !important;
    letter-spacing: 3px !important;
    color: white;
    font-size: 55px;
}
.btn_pills{
    background-color: white !important;
    color: #F69C12 !important;
    font-family: 'Koulen', cursive !important;
    letter-spacing: 3px !important;
    font-size: 23px !important;
    
}
.nav{
    margin-top: 20px !important;
    /* justify-content: center !important; */
}
.carte_menus{
    height: 200px !important;
    width: 350px !important;
}
.carte_body_menus{
    background-color: #F69C12 !important;
    border-bottom-right-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
    color: white !important;

    height: 180px !important;
}
.carte_title_menus{
    font-family: 'Koulen', cursive !important;
    letter-spacing: 2px !important;
    font-size: 23px !important;
}
.carte_prix_menus{
    font-family: 'Koulen', cursive !important;
    letter-spacing: 2px !important;
    font-size: 20px !important;
    text-align: center !important;
    color: black !important;
    margin-bottom: 0px !important;
}
/***************************************************/
#titre_adj{
    color: white !important;
    margin-left: 13% !important;
    padding-top: 50px !important;
    font-family: 'Koulen', cursive !important;
    letter-spacing: 3px !important;
    font-size: 50px;
}
.carte_nom{
    font-family: 'Koulen', cursive !important;
    letter-spacing: 3px !important;
    font-size: 30px;
    color: #F69C12 !important;
    margin-left: 25px !important;
    margin-top: 25px !important;
}
.carte_avis{
    background-color:#fbfbfb !important;
    border: solid 2px #F69C12 !important;
}
/****************************************************/
.form{
    border: solid 3px #F69C12 !important;
    /* background-image: url('images/background_accueil.jpg');
    background-size: 100%; */
    background-color: white !important;
    color: black !important;
    font-family: 'Koulen', cursive !important;
    letter-spacing: 4px !important;
    font-size: 17px;
}
::placeholder{
    color: black !important;
}
#form_input{
    display: flex !important;
    justify-content: center !important;
}
.input{
    width: 350px !important;
    margin: 15px;
    padding-left: 10px;
    padding: 10px !important;
}
textarea{
    padding-left: 10px;
    padding-top: 10px;
    width: 730px;
    margin-left: 26% !important;
    height: 200px !important;
}
#send_form{
    margin-left: 65.8% !important;
    border-radius: 1px !important;
    font-family: 'Koulen', cursive !important;
    letter-spacing: 3px !important;
    font-size: 17px !important;
    background-color: #F69C12 !important;
    color: #fbfbfb !important;
}
#titre_contact{
    color: #F69C12 !important;
    text-align: center;
    padding-top: 50px !important;
    font-family: 'Koulen', cursive !important;
    letter-spacing: 3px !important;
    font-size: 60px;

    margin-top: 70px;
}