#bg-left {
  background-color: #F69C12;
  width: 50%;
  height: 720px;
}

#bg-right {
  width: 50%;
  height: 720px;
  margin-left: 50%;
  margin-top: -720px;
  background-color: white;
}
/*********/
.login-form {
  background: white;
  border:solid 3px black;
  padding: 30px;

  height: 690px;
  width: 480px;
  box-shadow: 14px -12px black;

  margin-left: 34%;
  margin-top: -700px;
  /* margin-bottom: 50px; */
}
#redirect_inscrire{
  float: right;
  margin-top: -120px;

  color: white;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 5px;
  margin-left: 41px;
  font-family: 'Koulen', cursive !important;

  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 4px;
  text-decoration-color: black;

  background-color: #F69C12;
  padding: 22px;
}

#inscrire{
  color: #F69C12;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing:5px;
  margin-left: 32px;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 4px;
  text-decoration-color: black;
  font-family: 'Koulen', cursive !important;

  margin-top: 45px;
  margin-bottom: 75px;
}
.form-group {
  margin-bottom: 20px;
  margin-left: 36px;
  width: 320px;
}

.form-control {
  background-color: #F69C12;
  border: none;
  border-bottom: solid 3px white;
}
.label-log {
  margin-bottom: 10px;
  margin-left: 2px;

  color: black;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Koulen', cursive !important;
  font-size: 16px;
}
.fa-caret-right {
  color: black !important;
}
.btn {
  margin-top: 60px;
  background-color: black;
  color: #F69C12;
  letter-spacing:5px;
  font-family: 'Koulen', cursive !important;
  font-size: 22px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 1px;
  margin-left:3px;
  border-bottom: solid 5px #F69C12;
}
.btn:hover {
  background-color: black;
  color: #F69C12;
  background-color: #F69C12;
  color: white;
}

/*****/

#redirect_inscription {
  float: right;
  margin-top: -120px;

  color: white;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 5px;
  margin-left: 41px;
  font-family: 'Koulen', cursive !important;

  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 4px;
  text-decoration-color: black;

  background-color: #F69C12;
  padding: 22px;
}

/***/
.danger-pop {
  margin-top: -15px;
  font-size: 15px;
  z-index: 1 !important;
}
